
:root{
  font-weight: 500;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

.cl-card::before{
  content: " ";
  background: '#EEEEEE';
  width: '284px';
  height: "1px";
  top: 0;
  bottom: 0;
  left: 0;
}
